$table-head-font-size: 12px;
$table-body-font-size: 13px;

md-table.md-table md-cell {
  display: table-cell;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;

  &:first-child {
    padding: 0 24px;
  }

  &:nth-child(n+2):nth-last-child(n+2) {
    padding: 0 56px 0 0;
  }

  &:last-child {
    padding: 0 24px 0 0;
  }

  &.md-align-left {
    text-align: left;
  }

  &.md-align-right {
    text-align: right;
  }

  &.md-align-center {
    text-align: center;
  }

  &.md-align-justify {
    text-align: justify;
  }
}

md-table.md-table.md-select md-cell {
  &:first-child {
    width: 20px;
    padding: 0 0 0 24px;
  }

  &:nth-child(2) {
    padding: 0 24px;
  }
}

md-table.md-table md-head {
  md-cell {
    font-size: $table-head-font-size;
    line-height: $table-head-font-size;

    &.md-sort {
      cursor: pointer;
    }
  }
}

md-table.md-table md-body md-cell {
  font-size: $table-body-font-size;
  line-height: $table-body-font-size;
}