md-table.md-table {

  md-row {
    display: table-row;

    &.md-auto-select:not([disabled]):hover {
      transition: background 0.2s;
    }
  }

  md-head md-row {
    height: 56px;
  }

  md-body md-row {
    height: 48px;
  }

}