md-table.md-table {
  display: table;
  width: 100%;
  border-radius: 2px;
  border-spacing: 0;
  border-collapse: separate;

  md-head {
    display: table-header-group;
  }

  md-body {
    display: table-row-group;
  }
}